<section>
    <div class="fixed-top">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!--boat logo-->
                <img src="{{logo}}" class="logo">
                <!--toggle button-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--list items-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink=''>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/products'>Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/cart' matBadge="{{cartcount}}"
                                matBadgeColor="warn" matBadgeSize="small">Cart</a>
                        </li>
                        <div *ngFor="let user of userlist">
                            <div class="d-flex" *ngIf="user.profession === 'Admin';else users">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/control">Assign Tasks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/viewtask">View Tasks</a>
                                </li>
                            </div>
                            <ng-template #users>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/viewtask">View Tasks</a>
                                </li>
                            </ng-template>
                        </div>
                    </ul>
                    <!--signup & signin buttons based on authentication-->
                    <form class="d-flex">
                        <div *ngIf="auth;else logged">
                            <p-toast position="top-center"></p-toast>
                            <span *ngFor="let user of userlist" class="inline me-3">
                                <mat-icon style="font-size: 26px;">account_circle</mat-icon>{{user.firstname}}</span>
                            <button mat-icon mat-raised-button color="warn" (click)="logout()">
                                Sign Out<mat-icon>logout</mat-icon></button>
                        </div>
                        <ng-template #logged>
                            <button class="me-3" mat-icon mat-raised-button color="primary" routerLink='/login'>
                                Sign In<mat-icon>login</mat-icon></button>
                            <button mat-icon mat-raised-button color="accent" routerLink='/signup'>
                                Sign Up<mat-icon>person_add</mat-icon></button>
                        </ng-template>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</section>