<section>
    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="{{logo}}" class="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink=''>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/products'>Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" routerLink='/control'>Controls</a>
                        </li>
                        <li class="nav-item" *ngIf="auth">
                            <a class="nav-link" routerLink=''>Cart</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div *ngIf="auth;else logged">
                            <span *ngFor="let user of userlist" class="inline me-3"><i class="pi pi-user"
                                    style="font-size: 1.5rem"></i>
                                {{user.firstname}}</span>
                            <p-button icon="pi pi-sign-out" iconPos="right" label="sign out"
                                styleClass="p-button-rounded p-button-help me-3" (onClick)="logout()"></p-button>
                        </div>
                        <ng-template #logged>
                            <p-button icon="pi pi-sign-in" iconPos="right" label="sign in"
                                styleClass="p-button-rounded p-button-help me-3" routerLink='/login'></p-button>
                            <p-button icon="pi pi-user-plus" iconPos="right" label="sign up"
                                styleClass="p-button-rounded p-button-info me-3" routerLink='/signup'></p-button>
                        </ng-template>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</section>