<section>
    <div class="container">
        <h1>Welcome Back!</h1>
        <hr>
        <div class="row text-center mt-5">
            <!--login form-->
            <form [formGroup]="LoginForm" novalidate>
                <!--email-->
                <div class="form-group mb-3">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Enter your email</mat-label>
                        <input type="email" matInput placeholder="Email" formControlName="useremail"
                            [ngClass]="{'is-invalid':useremail.errors && (useremail.touched || useremail.dirty),'is-valid':useremail.valid}" />
                        <mat-error *ngIf="useremail.errors?.required">Required Field</mat-error>
                        <mat-error *ngIf="useremail.errors?.email && useremail.errors?.pattern">Enter a valid
                            Email</mat-error>
                        <mat-icon style="color:red;margin-bottom: -9px;" *ngIf="useremail.invalid"
                            matTextSuffix>thumb_down</mat-icon>
                        <mat-icon style="color:green;margin-bottom: -9px;" *ngIf="useremail.valid"
                            matTextSuffix>thumb_up</mat-icon>
                    </mat-form-field>
                </div>
                <!--password-->
                <div class="form-group mb-5">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Enter your password</mat-label>
                        <input type="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                            formControlName="password"
                            [ngClass]="{'is-invalid':password.errors && (password.touched || password.dirty),'is-valid':password.valid}" />
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.errors?.required">Required Field</mat-error>
                        <mat-error *ngIf="password.errors?.minlength">Password must be greater than
                            6 characters.
                        </mat-error>
                        <mat-error *ngIf="password.errors?.maxlength">Password must be less than 14
                            characters
                        </mat-error>
                        <mat-error *ngIf="password.errors?.pattern">Password must contain only aphabets and
                            numbers</mat-error>
                        <mat-icon style="color:red;margin-bottom: -9px;" *ngIf="password.invalid"
                            matTextSuffix>thumb_down</mat-icon>
                        <mat-icon style="color:green;margin-bottom: -9px;" *ngIf="password.valid"
                            matTextSuffix>thumb_up</mat-icon>
                    </mat-form-field>
                    <p class="text text-danger">Password should contain only alphabets and numbers
                        and should between 6 - 14 characters</p>
                </div>
                <div class="form-group text-center">
                    <!--primeNG toast-->
                    <p-toast position="top-center"></p-toast>
                    <!--back to home page-->
                    <button class="me-3" mat-icon mat-raised-button color="warn" routerLink=''>
                        Go Back<mat-icon>home</mat-icon></button>
                    <!--submit button-->
                    <button mat-icon mat-raised-button color="primary" (click)="onSubmit()">
                        Sign In<mat-icon>key</mat-icon></button>
                </div>
            </form>
        </div>
    </div>
</section>