<section>
    <!--empty cart-->
    <div class="container" *ngIf="cart.length==0; else cartitems" style="padding-bottom: 400px;">
        <div class="row">
            <h3 class="empty">Your shopping cart is empty!</h3>
            <button mat-icon mat-raised-button color="primary" routerLink='/products'>Continue Shopping
                <mat-icon>shopping_cart_checkout</mat-icon>
            </button>
        </div>
    </div>
    <!--cart-->
    <ng-template #cartitems>
        <div class="container text-center">
            <!--total price-->
            <h1 class="total">Your bag total is {{ TotalPrice(cart) | currency : "INR" : "symbol" : "3.0" }}</h1>
            <hr>
        </div>
        <!--cart details-->
        <div class="container" *ngFor="let item of cart">
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid" src="{{item.image}}" alt="product">
                </div>
                <div class="col-5">
                    <h3 class="name">{{item.title}}</h3>
                </div>
                <div class="col-2 text-center d-flex">
                    <p-toast position="top-center"></p-toast>
                    <span class="decrement" (click)="decrease(item)"><i class="fa-solid fa-minus me-2"
                            style="color: #000000;"></i></span>
                    <h3 class="quantity">{{item.quantity}}</h3><span class="increment" (click)="increase(item)"><i
                            class="fa-solid fa-plus ms-2" style="color: #000000;"></i></span>
                </div>
                <div class="col-2 text-center">
                    <h3 class="price">{{item.price*item.quantity | currency : "INR" : "symbol" : "3.0"}}</h3>
                    <span (click)="delete(item)" id="remove">Remove<mat-icon>remove_shopping_cart</mat-icon></span>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-2">
                    <span id="sub">Sub Total</span>
                    <br /><br />
                    <span id="tot">Total</span>
                </div>
                <div class="col-4 text-end">
                    <span id="sub">{{ TotalPrice(cart) | currency : "INR" : "symbol" : "3.0" }}</span>
                    <br /><br />
                    <span id="tot">{{ TotalPrice(cart) | currency : "INR" : "symbol" : "3.0" }}</span>
                    <br /><br />
                    <div class="form d-flex text-end">
                        <!--primeNG toast-->
                        <p-toast position="top-center"></p-toast>
                        <button class="me-3" mat-icon mat-raised-button color="accent" routerLink=''>
                            Continue Shopping<mat-icon>shopping_cart_checkout</mat-icon></button>
                        <!--payment button-->
                        <button mat-icon mat-raised-button color="warn" (click)="makePayment(TotalPrice(cart))">Place
                            Order<mat-icon>paid</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>