<section>
    <h1>Welcome Admin!!!</h1>
    <hr>
    <div class="container mt-5 text-center">
        <form [formGroup]="AssignmentForm" novalidate>
            <h2>Assign a Task</h2>
            <hr>
            <div class="form-group mb-3">
                <label for="firstname">Topic</label>
                <input type="text" class="form-control" placeholder="Enter a Title" formControlName="topic"
                    [ngClass]="{'is-invalid':topic.errors && (topic.touched || topic.dirty),'is-valid': topic.valid}" />
                <div class="valid-feedback" *ngIf="topic.valid">
                    <p class="text text-success">Topic is Good</p>
                </div>
                <div class="invalid-feedback">
                    <strong *ngIf="topic.errors?.required">Required Field</strong>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="content">Content</label>
                <textarea rows="5" class="form-control" placeholder="Enter the Task Contents" formControlName="content"
                    [ngClass]="{'is-invalid':content.errors && (content.touched || content.dirty),'is-valid': content.valid}"></textarea>
                <div class="valid-feedback" *ngIf="content.valid">
                    <p class="text text-success">Content is Good</p>
                </div>
                <div class="invalid-feedback">
                    <strong *ngIf="content.errors?.required">Required Field</strong>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="duedate">Due Date</label>
                <input type="date" class="form-control" formControlName="duedate"
                    [ngClass]="{'is-invalid':duedate.errors && (duedate.touched || duedate.dirty),'is-valid': duedate.valid}" />
                <div class="valid-feedback" *ngIf="duedate.valid">
                    <p class="text text-success">Valid Date</p>
                </div>
                <div class="invalid-feedback">
                    <strong *ngIf="duedate.errors?.required">Required Field</strong>
                </div>
            </div>
            <div class="form-group mb-5">
                <label for="assignto">Assign Task to</label>
                <select class="form-control" name="assignto" formControlName="assignto">
                    <option value="assignto" disabled>Choose any one</option>
                    <option value="Developer">Developer</option>
                    <option value="Designer">Designer</option>
                    <option value="Tester">Tester</option>
                    <option value="Trainer">Trainer</option>
                    <option value="Trainee">Trainee</option>
                </select>
            </div>
            <div class="form-group text-center">
                <p-toast position="top-center"></p-toast>
                <button type="button" class="btn btn-info btn-block" (click)="onSubmit()">Assign Task </button>
            </div>
        </form>
    </div>
</section>