<section>
    <div class="container-fluid">
        <!--title-->
        <h1>Tasks</h1>
        <hr>
    </div>
    <div *ngFor="let user of userlist">
        <div class="container" *ngIf="user.profession === 'Admin'">
            <div class="row mt-5 mb-5">
                <!--filter tasks based on profession-->
                <div class="col-3 text-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Filter by Profession</mat-label>
                        <mat-select class="form-control" id="filter" [(ngModel)]="selectedProfession">
                            <mat-option value="">Filter by :</mat-option>
                            <mat-option value="Designer">Designer</mat-option>
                            <mat-option value="Developer">Developer</mat-option>
                            <mat-option value="Tester">Tester</mat-option>
                            <mat-option value="Trainer">Trainer</mat-option>
                            <mat-option value="Trainee">Trainee</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--sort tasks based on duedate-->
                <div class="col-3 text-center">
                    <!-- <mat-form-field appearance="outline" class="example-full-width"> -->
                    <label>Sort by Due Date</label>
                    <select class="form-control" (change)="onOptionsSelected($event)" id="sort">
                        <option value="">Sort by :</option>
                        <option value="n-f">Nearest Date</option>
                        <option value="f-n">Farest Date</option>
                    </select>
                    <!-- </mat-form-field> -->
                </div>
                <!--filter tasks based on status-->
                <div class="col-3 text-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Filter by Status</mat-label>
                        <mat-select class="form-control" id="filterstatus" [(ngModel)]="selectedStatus">
                            <mat-option value="">Filter by :</mat-option>
                            <mat-option value="in progress">In Progress</mat-option>
                            <mat-option value="completed">Completed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--search tasks based on title-->
                <div class="col-3 text-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Search by Title</mat-label>
                        <mat-icon matSuffix>search</mat-icon>
                        <input type="text" matInput placeholder="Enter Title to search" [(ngModel)]="searchText">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="user.profession!='Admin'">
            <div class="row">
                <!--sort tasks based on duedate-->
                <div class="col-4 text-center">
                    <!-- <mat-form-field appearance="outline" class="example-full-width"> -->
                    <label>Sort by Due Date</label>
                    <select class="form-control" (change)="onOptionsSelected($event)" id="sort">
                        <option value="">Sort by :</option>
                        <option value="n-f">Nearest Date</option>
                        <option value="f-n">Farest Date</option>
                    </select>
                    <!-- </mat-form-field> -->
                </div>
                <!--filter tasks based on status-->
                <div class="col-4 text-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Filter by Status</mat-label>
                        <mat-select class="form-control" id="filterstatus" [(ngModel)]="selectedStatus">
                            <mat-option value="">Filter by :</mat-option>
                            <mat-option value="in progress">In Progress</mat-option>
                            <mat-option value="completed">Completed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--search tasks based on title-->
                <div class="col-4 text-center">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Search by Title</mat-label>
                        <mat-icon matSuffix>search</mat-icon>
                        <input type="text" matInput placeholder="Enter Title to search" [(ngModel)]="searchText">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <!--primeNG toast-->
        <p-toast position="top-center"></p-toast>
        <div *ngFor="let user of userlist">
            <!--card to display tasks-->
            <div class="card"
                *ngFor="let work of tasks | search:searchText | filter:selectedProfession | sort:[sortParam,sortDirection]| filterstatus:selectedStatus">
                <div *ngIf="user.profession === 'Admin' || user.profession === work.assignto">
                    <div class="card-header">
                        Task assigned to : {{ work.assignto }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Title : {{ work.topic }}</h4>
                        <p class="card-text">Task : {{ work.content }}</p>
                        <p class="card-text">Due date : {{ work.duedate }}</p>
                        <!--operations of admin-->
                        <div *ngIf="user.firstname === 'Admin'">
                            <div *ngIf="work.status==='';else InProgress">
                                <button class="me-3" mat-raised-button color="accent" (click)="edit(work)"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Edit<mat-icon>mode_edit</mat-icon></button>
                                <button mat-icon mat-raised-button color="warn" (click)="deleteTask(work)">
                                    Delete<mat-icon>delete</mat-icon></button>
                            </div>
                            <ng-template #InProgress>
                                <div *ngIf="work.status==='in progress';else completed">
                                    <h4>Status : {{work.status}}</h4>
                                    <button mat-icon mat-raised-button color="warn" (click)="deleteTask(work)">
                                        Delete<mat-icon>delete</mat-icon></button>
                                </div>
                            </ng-template>
                            <ng-template #completed>
                                <h4>Status : {{work.status}}</h4>
                                <button mat-icon mat-raised-button color="warn" (click)="deleteTask(work)">
                                    Delete<mat-icon>delete</mat-icon></button>
                            </ng-template>
                        </div>
                        <!--operations of user-->
                        <div *ngIf="user.firstname !== 'Admin'">
                            <div *ngIf="work.status==='';else InProgress">
                                <button class="me-3" mat-icon mat-raised-button color="primary"
                                    (click)="progress(work)">
                                    In Progress<mat-icon>star_half</mat-icon></button>
                                <button mat-icon mat-raised-button color="accent" (click)="complete(work)">
                                    Completed<mat-icon>done_all</mat-icon></button>
                            </div>
                            <ng-template #InProgress>
                                <div *ngIf="work.status==='in progress';else completed">
                                    <h4>Status : {{work.status}}</h4>
                                    <button mat-icon mat-raised-button color="accent" (click)="complete(work)">
                                        Completed<mat-icon>done_all</mat-icon></button>
                                </div>
                            </ng-template>
                            <ng-template #completed>
                                <h4>Status : {{work.status}}</h4>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--task is empty-->
    <div class="container" *ngIf="tasks.length===0||!hasMatchingAssignment()"
        style="padding-bottom: 400px; border: none;">
        <div class="row mt-5">
            <h3 class="empty">Congratulations! No pending tasks</h3>
            <button class="btn btn-secondary" routerLink=''>Continue</button>
        </div>
    </div>
</section>
<!--modal to edit task-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Task</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="taskForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="topic">Topic</label>
                        <input type="text" id="topic" class="form-control" formControlName="topic" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="content">Content</label>
                        <textarea id="content" class="form-control" formControlName="content" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="duedate">Due Date</label>
                        <input type="date" id="duedate" class="form-control" formControlName="duedate" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="assignto">Assign Task to</label>
                        <select class="form-control" name="assignto" formControlName="assignto">
                            <option value="assignto" disabled>Choose any one</option>
                            <option value="Developer">Developer</option>
                            <option value="Designer">Designer</option>
                            <option value="Tester">Tester</option>
                            <option value="Trainer">Trainer</option>
                            <option value="Trainee">Trainee</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="status">Status</label>
                        <input type="text" class="form-control" id="status" formControlName="status">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--close modal button-->
                <button mat-icon mat-raised-button color="warn" data-bs-dismiss="modal">
                    Close<mat-icon>close</mat-icon></button>
                <!--update changes button-->
                <button mat-icon mat-raised-button color="primary" (click)="savechanges()">
                    Save<mat-icon>check</mat-icon></button>
            </div>
        </div>
    </div>
</div>