section{
    background-color: whitesmoke;
    padding: 0 0 50px 0;
}
h1 {
    font-family: times new roman;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

/*task is empty*/
.empty {
    text-align: center;
}

button {
    margin: 0 auto 0 auto;
}

.row {
    width: 100%;
}

/*card*/
mat-card {
    margin-bottom: 10px;
}

mat-card:nth-child(odd) {
    background-color: lightslategray;
    color: whitesmoke;
}

mat-card:nth-child(even) {
    background-color: lightgrey;
}

.example-full-width {
    width: 100%;
}

.example-full-width input {
    height: 38px;
}

#sort{
    height: 38px;
}