<section>
    <div class="container-fluid">
        <h1>Tasks</h1>
        <hr>
    </div>
    <div class="container">
        <div class="card" *ngFor="let work of tasks">
            <div *ngFor="let user of userlist">
                <ng-container *ngIf="user.profession === 'Admin' || user.profession === work.assignto">
                    <div class="card-header">
                        Task assigned to: {{ work.assignto }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Title: {{ work.topic }}</h4>
                        <p class="card-text">Task: {{ work.content }}</p>
                        <p class="card-text">Due date: {{ work.duedate }}</p>
                        <div *ngIf="user.firstname === 'Admin'; else users">
                            <p-toast position="top-center"></p-toast>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                class="btn btn-info me-3">Edit</button>
                            <button type="button" (click)="delete(work)" class="btn btn-danger">Delete</button>
                        </div>
                        <ng-template #users>
                            <p-toast position="top-center"></p-toast>
                            <button type="button" (click)="progress(work)" class="btn btn-warning me-3">In
                                Progress</button>
                            <button type="button" (click)="complete(work)" class="btn btn-success">Completed</button>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="tasks.length===0||!hasMatchingAssignment()"
        style="padding-bottom: 400px; border: none;">
        <div class="row mt-5">
            <h3 class="empty">Congratulations! No pending tasks</h3>
            <button class="btn btn-secondary" routerLink=''>Continue</button>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngFor="let work of tasks">
                <p-toast position="top-center"></p-toast>
                <form [formGroup]="AssignmentForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="firstname">Topic</label>
                        <input type="text" class="form-control" placeholder="Enter a Title" formControlName="topic"
                            value="{{work.topic}}"
                            [ngClass]="{'is-invalid':topic.errors && (topic.touched || topic.dirty),'is-valid': topic.valid}" />
                        <div class="valid-feedback" *ngIf="topic.valid">
                            <p class="text text-success">Topic is Good</p>
                        </div>
                        <div class="invalid-feedback">
                            <strong *ngIf="topic.errors?.required">Required Field</strong>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="content">Content</label>
                        <textarea rows="5" class="form-control" placeholder="Enter the Task Contents"
                            formControlName="content" value="{{work.content}}"
                            [ngClass]="{'is-invalid':content.errors && (content.touched || content.dirty),'is-valid': content.valid}"></textarea>
                        <div class="valid-feedback" *ngIf="content.valid">
                            <p class="text text-success">Content is Good</p>
                        </div>
                        <div class="invalid-feedback">
                            <strong *ngIf="content.errors?.required">Required Field</strong>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="duedate">Due Date</label>
                        <input type="date" class="form-control" formControlName="duedate" value="{{work.duedate}}"
                            [ngClass]="{'is-invalid':duedate.errors && (duedate.touched || duedate.dirty),'is-valid': duedate.valid}" />
                        <div class="valid-feedback" *ngIf="duedate.valid">
                            <p class="text text-success">Valid Date</p>
                        </div>
                        <div class="invalid-feedback">
                            <strong *ngIf="duedate.errors?.required">Required Field</strong>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label for="assignto">Assign Task to</label>
                        <select class="form-control" name="assignto" formControlName="assignto"
                            value="{{work.assignto}}">
                            <option value="assignto" disabled>Choose any one</option>
                            <option value="Developer">Developer</option>
                            <option value="Designer">Designer</option>
                            <option value="Tester">Tester</option>
                            <option value="Trainer">Trainer</option>
                            <option value="Trainee">Trainee</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="edit()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>