<section>
    <div class="container">
        <h1 class="text-center">WELCOME</h1>
        <div class="row text-center mt-5 mb-5">
            <h5>Already a member! just Login!</h5>
            <p-button icon="pi pi-sign-in" iconPos="right" label="sign in" styleClass="p-button-rounded p-button-help"
                routerLink="/login"></p-button>
        </div>
        <div class="row text-center mb-5">
            <h5>New to the page? Register and a becoma a member now!</h5>
            <p-button icon="pi pi-user-plus" iconPos="right" label="sign up" styleClass="p-button-rounded p-button-info"
                (onClick)="sub()" ></p-button>
        </div>
    </div>
</section>