section{
    background-image: url("/assets/images/home-back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0 250px 0;
}
h1,
h5 {
    font-family: Times new roman;
    font-weight: 800;
}

h1 {
    color: navy;
}

h5 {
    color:darkred;
}